.block-xhn-custom {
  margin-bottom: 30px;
}

.block-views-artifacts-block {
  color: #fff;

  table {
    background: transparent;

    tr {
      background: transparent;
    }
  }
}

.block-xhn-custom-block-artifact-info {
  .inline-items {
    display: flex;
    justify-content: space-around;
  }

  svg {
    margin-bottom: -7px;
  }

  .target-node {
    article {
      border: 5px solid rgba(255, 255, 0, 0.8);
      border-radius: 5px;
    }
  }
}

.block-xhn-custom-block-calculator {
  .inline-items {
    display: flex;
    justify-content: space-around;
  }

  .calculated-fields-wrapper {
    margin-top: 30px;

    .calculated-field-output {
      > div {
        display: flex;
        align-items: center;
        margin: 0;
        min-height: 32px;

        label {
          width: 50%;
          cursor: default;
        }

        > ul {
          width: 50%;
          margin: 0;
          line-height: inherit;

          li {
            font-size: 0.8em;
          }
        }
      }

      &:nth-child(even) {
        background: rgba(0, 139, 139, 0.1);
      }
    }
  }
}
